 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>正在播放 [game:name] [game:playname]</title>
<meta name="Keywords" content="[game:name][playinfo:name]免费在线观看,[game:name]剧情介绍,[game:name]数据海报" />
<meta name="description" content="[game:name][playinfo:name]免费在线观看,[game:name]剧情介绍,[game:name]数据海报" />	
{maccms:include}
<base target="_self">
</head>
<body>
[game:playerinfo]
[game:player]
</body>
</html>